interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/recording?query=recording%3A%22Shinedown%22+AND+artist%3A%2245%22&limit=1&fmt=json
  response:
    body:
      string: '{"created":"2026-07-02T20:26:21.239Z","count":0,"offset":0,"recordings":[]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '1200'
      X-RateLimit-Remaining:
      - '898'
      X-RateLimit-Reset:
      - '1783023982'
      etag:
      - '"NmJhNGE2MDAwMDAwMDAwMFNvbHI="'
      last-modified:
      - Thu, 02 Jul 2026 20:25:30 GMT
    status:
      code: 200
      message: OK
version: 1
