interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://musicbrainz.org/ws/2/artist?query=Radiohead&limit=3&fmt=json
  response:
    body:
      string: "{\"created\":\"2026-07-02T20:26:20.494Z\",\"count\":29,\"offset\":0,\"artists\":[{\"id\":\"a74b1b7f-71a5-4011-9441-d0b5e4122711\",\"type\":\"Group\",\"type-id\":\"e431f5f6-b5d2-343d-8b36-72607fffb74b\",\"score\":100,\"name\":\"Radiohead\",\"sort-name\":\"Radiohead\",\"country\":\"GB\",\"area\":{\"id\":\"8a754a16-0027-3a29-b6d7-2b40ea0481ed\",\"type\":\"Country\",\"type-id\":\"06dd0ae4-8c74-30bb-b43d-95dcedf961de\",\"name\":\"United
        Kingdom\",\"sort-name\":\"United Kingdom\",\"life-span\":{\"ended\":null}},\"begin-area\":{\"id\":\"d840d4b3-8987-4626-928b-398de760cc24\",\"type\":\"City\",\"type-id\":\"6fd8f29a-3d0a-32fc-980d-ea697b69da78\",\"name\":\"Abingdon-on-Thames\",\"sort-name\":\"Abingdon-on-Thames\",\"life-span\":{\"ended\":null}},\"isnis\":[\"0000000115475162\"],\"life-span\":{\"begin\":\"1991\",\"ended\":null},\"aliases\":[{\"sort-name\":\"r/head\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"r/head\",\"locale\":null,\"type\":\"Search
        hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"\u7535\u53F0\u53F8\u4EE4\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"\u7535\u53F0\u53F8\u4EE4\",\"locale\":\"zh\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"\u308C\u3067\u3043\u304A\u3078\u3063\u3069\",\"type-id\":\"894afba6-2816-3c24-8072-eadb66bd04bc\",\"name\":\"\u30EC\u30C7\u30A3\u30AA\u30D8\u30C3\u30C9\",\"locale\":\"ja\",\"type\":\"Artist
        name\",\"primary\":true,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Radiohead
        & Thom Yorke\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"Radiohead
        & Thom Yorke\",\"locale\":null,\"type\":\"Search hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null},{\"sort-name\":\"Radio
        Head\",\"type-id\":\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\",\"name\":\"Radio
        Head\",\"locale\":null,\"type\":\"Search hint\",\"primary\":null,\"begin-date\":null,\"end-date\":null}],\"tags\":[{\"count\":18,\"name\":\"rock\"},{\"count\":13,\"name\":\"electronic\"},{\"count\":0,\"name\":\"post-rock\"},{\"count\":41,\"name\":\"alternative
        rock\"},{\"count\":2,\"name\":\"experimental\"},{\"count\":14,\"name\":\"british\"},{\"count\":0,\"name\":\"grunge\"},{\"count\":1,\"name\":\"idm\"},{\"count\":1,\"name\":\"uk\"},{\"count\":0,\"name\":\"britannique\"},{\"count\":4,\"name\":\"indie
        rock\"},{\"count\":2,\"name\":\"electronica\"},{\"count\":2,\"name\":\"alternative\"},{\"[...]
